h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 128px;
  transform-origin: 0 0;
}

.page {
  position: relative;
  margin: 20px 0;

  & button {
    margin-bottom: 20px;
  }
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.title {
  margin: 0 20px;
}

.spacer {
  flex: 1 1 auto;
}
